---
import { Icon } from "astro-icon/components";
import { SITE } from "@/config";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { pathname } = Astro.url;

// Remove trailing slash from current pathname if exists
const currentPath =
  pathname.endsWith("/") && pathname !== "/" ? pathname.slice(0, -1) : pathname;

const isActive = (path: string) => {
  const currentPathArray = currentPath.split("/").filter(p => p.trim());
  const pathArray = path.split("/").filter(p => p.trim());

  return currentPath === path || currentPathArray[0] === pathArray[0];
};

const toggleLangLabel = lang === "en" ? "CZ" : "EN";
const toggleLangPath =
  lang === "en"
    ? `/cs${pathname === "/" ? "" : pathname}`
    : pathname.replace("/cs", "") || "/";
---

<a
  id="skip-to-content"
  href="#main-content"
  class="absolute start-16 -top-full z-50 bg-background px-3 py-2 text-accent backdrop-blur-lg focus:top-4"
>
  Skip to content
</a>

<header
  class="flex w-full flex-col items-center justify-between border-b border-border bg-accent text-white sm:flex-row"
>
  <div
    id="top-nav-wrap"
    class:list={[
      "app-layout",
      "py-4 sm:py-4",
      "relative w-full",
      "flex items-baseline justify-between sm:items-center",
      // "sm:grid sm:grid-cols-[auto_1fr_auto] sm:gap-8",
    ]}
  >
    <a href="/" class="absolute flex items-center py-1 sm:static sm:my-auto">
      <img
        src="/icon_dark.png"
        alt="Zdeněk Kasner Logo"
        class="h-12 w-12 rounded-sm sm:h-16 sm:w-16"
      />
    </a>
    <div class="w-full sm:flex sm:w-auto sm:items-center sm:gap-8">
      <nav
        id="nav-menu"
        class="flex w-full flex-col items-center sm:w-auto sm:flex-row sm:justify-end sm:py-0"
      >
        <div class="flex items-center self-end sm:hidden">
          {
            SITE.lightAndDarkMode && (
              <button
                id="theme-btn-mobile"
                class="focus-outline flex items-center justify-center p-2 hover:opacity-80"
                title="Toggles light & dark"
                aria-label="auto"
                aria-live="polite"
              >
                <div class="relative rounded-full">
                  <Icon
                    name="tabler:moon"
                    class="size-6 scale-100 dark:scale-0"
                  />
                  <Icon
                    name="tabler:sun-high"
                    class="absolute top-0 left-0 size-6 scale-0 dark:scale-100"
                  />
                </div>
              </button>
            )
          }
          <a
            href={toggleLangPath}
            class="focus-outline flex items-center justify-center p-2 font-semibold hover:opacity-80"
            aria-label={`Switch to ${toggleLangLabel}`}
          >
            {toggleLangLabel}
          </a>
          <button
            id="menu-btn"
            class="focus-outline p-2"
            aria-label="Open Menu"
            aria-expanded="false"
            aria-controls="menu-items"
          >
            <div class="rounded-lg bg-accent p-1.5 text-white">
              <Icon name="tabler:x" id="close-icon" class="hidden size-6" />
              <Icon name="tabler:menu-deep" id="menu-icon" class="size-6" />
            </div>
          </button>
        </div>
        <ul
          id="menu-items"
          class:list={[
            "mt-4 grid w-44 grid-cols-2 place-content-center gap-2",
            "hidden",
            "sm:mt-0 sm:flex sm:w-auto sm:gap-4",
          ]}
        >
          <li class="col-span-2">
            <a
              href={lang === "en" ? "/teaching" : "/cs/teaching"}
              class:list={[
                { "active-nav": isActive("/teaching") },
                "focus-outline sm:h-lg flex flex-col items-center justify-center gap-0.5 px-2 py-3 hover:opacity-80 sm:px-2 sm:py-1",
              ]}
            >
              <div class="rounded-full">
                <Icon name="tabler:users-group" class="size-6" />
              </div>
              <span>{t("nav.teaching")}</span>
            </a>
          </li>
          <li class="col-span-2">
            <a
              href={lang === "en" ? "/research" : "/cs/research"}
              class:list={[
                { "active-nav": isActive("/research") },
                "focus-outline sm:h-lg flex flex-col items-center justify-center gap-0.5 px-2 py-3 hover:opacity-80 sm:px-2 sm:py-1",
              ]}
            >
              <div class="rounded-full">
                <Icon name="tabler:chart-dots-3-filled" class="size-6" />
              </div>
              <span>{t("nav.research")}</span>
            </a>
          </li>
          <li class="col-span-2">
            <a
              href={lang === "en" ? "/projects" : "/cs/projects"}
              class:list={[
                { "active-nav": isActive("/projects") },
                "focus-outline sm:h-lg flex flex-col items-center justify-center gap-0.5 px-2 py-3 hover:opacity-80 sm:px-2 sm:py-1",
              ]}
            >
              <div class="rounded-full">
                <Icon name="tabler:code" class="size-6" />
              </div>
              <span>{t("nav.projects")}</span>
            </a>
          </li>
          <!-- <li class="col-span-2">
          <a
            href={lang === "en" ? "/talks" : "/cs/talks"}
            class:list={[
              { "active-nav": isActive("/talks") },
              "focus-outline flex flex-col items-center justify-center gap-0.5 px-2 py-3 hover:opacity-80 sm:h-lg sm:px-2 sm:py-1",
            ]}
          >
            <div class="rounded-full">
              <Icon name="tabler:speakerphone" class="size-6" />
            </div>
            <span>{t("nav.news")}</span>
          </a>
        </li> -->
          <li class="col-span-2">
            <a
              href={lang === "en" ? "/about" : "/cs/about"}
              class:list={[
                { "active-nav": isActive("/contace") },
                "focus-outline sm:h-lg flex flex-col items-center justify-center gap-0.5 px-2 py-3 hover:opacity-80 sm:px-2 sm:py-1",
              ]}
            >
              <div class="rounded-full">
                <Icon name="mdi:person" class="size-6" />
              </div>
              <span>{t("nav.about")}</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="sm:flex sm:items-center sm:justify-end sm:gap-4">
        {
          SITE.lightAndDarkMode && (
            <button
              id="theme-btn"
              class="focus-outline hidden items-center justify-center px-2 py-1 hover:opacity-80 sm:flex"
              title="Toggles light & dark"
              aria-label="auto"
              aria-live="polite"
            >
              <div class="relative rounded-full">
                <Icon
                  name="tabler:moon"
                  class="size-6 scale-100 dark:scale-0"
                />
                <Icon
                  name="tabler:sun-high"
                  class="absolute top-0 left-0 size-6 scale-0 dark:scale-100"
                />
              </div>
            </button>
          )
        }
        <a
          id="lang-switch"
          href={toggleLangPath}
          class="focus-outline hidden items-center justify-center px-2 py-1 font-semibold hover:opacity-80 sm:flex"
          aria-label={`Switch to ${toggleLangLabel}`}
        >
          {toggleLangLabel}
        </a>
      </div>
    </div>
  </div>
</header>

<script>
  function toggleNav() {
    const menuBtn = document.querySelector("#menu-btn");
    const menuItems = document.querySelector("#menu-items");
    const menuIcon = document.querySelector("#menu-icon");
    const closeIcon = document.querySelector("#close-icon");

    if (!menuBtn || !menuItems || !menuIcon || !closeIcon) return;

    menuBtn.addEventListener("click", () => {
      const openMenu = menuBtn.getAttribute("aria-expanded") === "true";

      menuBtn.setAttribute("aria-expanded", openMenu ? "false" : "true");
      menuBtn.setAttribute("aria-label", openMenu ? "Open Menu" : "Close Menu");

      menuItems.classList.toggle("hidden");
      menuIcon.classList.toggle("hidden");
      closeIcon.classList.toggle("hidden");
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav);
</script>
